<%- include('../partials/header') %>

<p hidden=true id="user"><%=user%></p>
<form id="form1" method="POST" action="/destinations/<%= destination._id %>?_method=PUT">
  <!-- <table class="table table-inverse">
      <tbody>
        <tr>
          <td>Destination</td>
          <td  ><input form="form1"name="name" value="<%= destination.name %>" disabled></td>
          
       </tr>
       <tr>
          <td>Location</td>
          <td ><input form="form1"name="location" value="<%= destination.location %>" disabled  ></td>
          
      </tr>
      <tr>
          <td>Image</td>
          <td  ><img src="<%= destination.imageUrl %>" alt=""></td>
          
          
      </tr>
      <tr>
          <td class="hidden">Image URL</td>
          <td class="hidden"  ><input form="form1" name="imageUrl" value="<%= destination.imageUrl %>" disabled  ></td>
      </tr>
     </tbody>
    </table> -->

  <div class="container-fluid">
      <div class="col-md-6">
          <div class="row">
              <div class="col-md-2">
                col 1 row 1
      
              </div>
              <div class="col-md-4">
                col 2 row 1
              </div>
      
            </div>
          <div class="row">
                <div class="col-md-2">
                  col 1 row 2
                </div>
                <div class="col-md-4">
                  col 2 row 2
                </div >
          </div>
      </div>
      <div class="col-md-6" style="background-color: #999">
        sahdflshdfl

      </div>
      
      
      
</div>

    <input class="hidden" form="form1" type="submit" name="edit" value="Save Changes" id="">
    
      
    </form>


<button id="edit">Edit</button>

<style>
  .hidden {
    visibility: hidden;
    
  }
  div {
    border: 1px solid black;
  }

  .largeDiv {
    height: 50px;
  }
</style>

<script>
  const hiddenItems = document.querySelectorAll('.hidden');
  const valueItems = document.querySelectorAll('input');
  
  document.querySelector('#edit').addEventListener('click', (e) => {
     if(document.getElementById('user').textContent!==""){
      hiddenItems.forEach(elm => elm.classList.remove('hidden'));
      valueItems.forEach(elm => elm.removeAttribute('disabled'));
     }
      
      // valueItems.forEach(elm => elm.focus());
      // window.getSelection().removeAllRanges();

  })

//   function edit(el) {
//   el.childNodes[0].removeAttribute("disabled");
//   el.childNodes[0].focus();
//   window.getSelection().removeAllRanges();
// }
// function disable(el) {
//   el.setAttribute("disabled","");
// }

</script> 


    





<%- include('../partials/footer') %>

<!--
  Good job using partials for your template, 
  however make sure you follow good indentation guidelines
  and also remove all dead / commented out code from your files

-->