<%- include('../partials/header') %>


<table class="table table-inverse">
        <tbody>
          <tr>
            <td>Destination</td>
            <td><%= destination.name %></td>
         </tr>
         <tr>
            <td>Location</td>
            <td><%= destination.location %></td>
        </tr>
        <tr>
            <td>Image URL</td>
            <td><img src="<%= destination.imageUrl %>" alt=""></td>
            
        </tr>
       </tbody>
      </table>
    





<%- include('../partials/footer') %>

